<launch>
    <rosparam file="$(find slamesh)/config/maicity.yaml" command="load" />
    <arg name="seq" default = "/00" />
    <arg name="param" default = "" /> <!-- param is used for tuning "$(arg param)" -->
    <arg name="data_path" default = "/home/ruanjy/HDD/dataset_all/others/puma/mai_city/mai_city/bin/sequences" />
    <arg name="result_path" default = "$(find slamesh)/../../slamesh_result/kitti" />
    <param name="slamesher/seq"  type="string" value="$(arg seq)"/>
    <param name="slamesher/file_loc_report" type="string" value="$(arg result_path)"/>
    <param name="slamesher/file_loc_dataset" type="string" value="$(arg data_path)"/>

    <node pkg="slamesh" type="slamesh" name="slamesher" output="screen">
    </node>
    <node name="rviz" pkg="rviz" type="rviz" args="-d $(find slamesh)/config/rviz/slamesh_mesh_tool.rviz" required="false" />
</launch>
